div.add-task {
  width: 52vw;
  height: fit-content;
  max-height: calc(100vh - 20px);
  padding: 35px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  font-family: archivo;
  border-radius: 20px;
  gap: 35px;
  position: relative;
}

div.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* background: #636363; */
}

div.header p.title {
  color: #343434;
  font-size: 21px;
  font-weight: 600;
}

div.header button.close {
  border: none;
  outline: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  background: #ECE5F4;
  color: #794EA4;
  cursor: pointer;
  font-size: 16px;
}

div.inputs {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: calc(100% - 50px);
  position: relative;
}

div.inputs > * {
  width: 100%;
  border: none;
  outline: none;
  padding: 4px 15px;
  font-family: abeezee;
  color: #343434;
  font-family: 13px;
  border-bottom: 1.4px solid #c7c7c7;
  border-radius: 3px;
  transition: 150ms cubic-bezier(0.4, 0.98, 0.35, 0.81);
}

div.inputs > *:focus {
  transform: scale(1.06);
  border-bottom-color: #9f7dc2;
}

div.inputs > *::placeholder {
  color: #acacac;
  font-size: 12px;
}

div.inputs > textarea {
  height: 25px;
  min-height: 25px;
  max-height: 160px;
  max-width: 100%;
  min-width: 100%;
}

div.buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 15px;
}

div.buttons button {
  position: relative;
  left: -20px;
  padding: 11px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 12px;
}

div.buttons button.add-button {
  background: #430283;
  color: white;
}

div.buttons button.cancel-button {
  border: 1.2px solid #430283;
  color: #430283;
  background: none;
}

div.infos {
  /* background: #888; */
  width: calc(100% - 50px);
  height: auto;
  display: flex;
  /* grid-template-rows: auto auto;
  grid-template-columns: auto auto; */
  justify-content: space-between;
  /* row-gap: 25px; */
  gap: 25px 32px;
  flex-flow: wrap;
}

div.due-date {
  display: flex;
  gap: 16px;
  align-items: center;
}

div.due-date > label {
  font-size: .84rem;
  font-family: AbeeZee;
  color: #161616;
}

input.due-date-input {
  font-family: AbeeZee;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #f9f2ff;
  height: 32px;
  /* width: 100px; */
  font-size: .805rem;
  color: #65307a;
  padding: 0 14px;
}