div.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

div.page-content {
  height: 100%;
  padding: 5px 35px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow: hidden;
}

div.details-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

div.details-container a {
  text-decoration: none;
}

div.container {
  padding: 17px 19px;
  border: 1px solid #bfbfbf;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  transition: 250ms;
  /* overflow: hidden; */
}

div.details-container div:hover {
  box-shadow: 0 0 10px #00000025;
  transform: scale(1.02);
}

p.title {
  font-size: 1.3em;
  color: #111;
  font-weight: bold;
}

div.details-container div p.desc {
  font-size: .9rem;
  color: #666;
  /* font-family: Quicksand; */
}

div.recent-updates-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* background: #000; */
  height: calc(100% - 60px);
  border-radius: 8px;
  gap: 25px;
  overflow: hidden;
}

div.recent-updates-container > div {
  height: calc(100%);
  font-size: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  position: relative;

  > div.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;

    p.no-recent-note {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    > div {
      border-radius: 8px;
      border: 1px solid #ccc;
      padding: 12px 14px;
      display: flex;
      justify-content: space-between;
      /* position: relative; */

      > div.edit-del {
        /* position: relative;
        right: 10px; */
        display: flex;
        opacity: 0;
        margin-left: 30px;
        gap: 6px;
        align-items: center;
        transition: 200ms;

        > button {
          width: 30px;
          height: 30px;
          font-size: large;
          border-radius: 50%;
          border: none;
          outline: none;
          cursor: pointer;
        }

        > .edit-btn {
          background: #025883;
          color: white;
        }

        /* > .del-btn{
          background: #025883;
        } */
      }

      > div.content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        transition: 200ms;

        p.car-title {
          font-size: 1.1em;
          font-weight: bold;
          color: #333;
          font-family: Quicksand;
        }

        p.car-brand {
          font-size: .9em;
          color: #2b2b2b;
          font-family: Quicksand;
        }

        p.date {
          font-size: .87em;
          color: #444;
          font-family: Quicksand;
          transition: 200ms;
        }
      }

      &:hover .edit-del {
        opacity: 1;
      }
    }
  }
}

::-webkit-scrollbar-thumb {
  background: #ddd;
}