div.price-box input::-webkit-inner-spin-button,
div.price-box input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* F3F9FF */

div#price p {
  padding: 0 0 15px 0;
  font-size: 22px;
  font-family: "Amaranth";
  color: var(--prim-blue);
}

div.price-boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

div.price-boxes hr {
  height: 1px;
  background: var(--prim-blue);
  border: none;
  position: relative;
  bottom: 8px;
}

div.price-boxes span {
  color: var(--prim-blue);
  font-family: "Amaranth";
  padding-left: 2px;
}

div._price_boxes_ input[type=range] {
  height: 3px;
  background: #639dd81f;
  appearance: none;
  width: 90px;
  position: relative;
  top: 5px;
}

div.price-boxes input[type=range]::-webkit-slider-thumb {
  border: none;
  appearance: none;
  -webkit-appearance: none;
  background: var(--prim-blue);
  height: 9px;
  width: 9px;
  border-radius: 50%;
}

div.price-box {
  background: #F3F9FF;
  width: 90px;
  height: 32px;
  padding: 3px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.price-box input[type=number] {
  outline: none;
  border: none;
  width: 9px;
  min-width: 9px;
  max-width: 67.5px;
  background: #F3F9FF;
  color: var(--standard-text-color);
  font-weight: 700;
  text-align: center;
}