section#car-details {
  /* background: #000; */
  width: 100vw;
  height: 100%;
  position: relative;
  top: 80px;
  padding: 10px 40px;
}

div.content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;

  .title-price {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.3rem;
    align-items: center;

    h1 {
      font-family: Poppins;
      color: #1a1a1a;

      &:nth-child(2) {
        color: var(--primary-blue);
        font-size: 1.5em;
      }
    }
  }

  div.parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    div.details {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
      gap: 20px 150px;

      div.property {
        display: flex;
        justify-content: space-between;
        position: relative;

        p.key {
          font-weight: bold;
        }
      }
    }

    div.accessories {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      justify-items: center;
      gap: 30px 150px;
    }

    div.accessory {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px 24px;
      border-radius: 8px;
      /* background-color: #eee; */
      box-shadow: 0 0 10px #00000025;
      align-items: center;
      gap: 10px;
      position: relative;

      p.value {
        font-weight: bold;
        font-size: 1em;
      }
    }

  }

}